.p-1  { opacity: 0.5; background-color: #808080; }

.p0  { background-color: #80ff80; }

.p1 { background-color: #ffff00; }
.p2 { background-color: #fffc00; }
.p3 { background-color: #fff900; }
.p4 { background-color: #fff700; }
.p5 { background-color: #fff400; }
.p6 { background-color: #fff200; }
.p7 { background-color: #ffef00; }
.p8 { background-color: #ffec00; }
.p9 { background-color: #ffea00; }
.p10 { background-color: #ffe700; }
.p11 { background-color: #ffe500; }
.p12 { background-color: #ffe200; }
.p13 { background-color: #ffe000; }
.p14 { background-color: #ffdd00; }
.p15 { background-color: #ffda00; }
.p16 { background-color: #ffd800; }
.p17 { background-color: #ffd500; }
.p18 { background-color: #ffd300; }
.p19 { background-color: #ffd000; }
.p20 { background-color: #ffce00; }
.p21 { background-color: #ffcb00; }
.p22 { background-color: #ffc800; }
.p23 { background-color: #ffc600; }
.p24 { background-color: #ffc300; }
.p25 { background-color: #ffc100; }
.p26 { background-color: #ffbe00; }
.p27 { background-color: #ffbc00; }
.p28 { background-color: #ffb900; }
.p29 { background-color: #ffb600; }
.p30 { background-color: #ffb400; }
.p31 { background-color: #ffb100; }
.p32 { background-color: #ffaf00; }
.p33 { background-color: #ffac00; }
.p34 { background-color: #ffaa00; }
.p35 { background-color: #ffa700; }
.p36 { background-color: #ffa400; }
.p37 { background-color: #ffa200; }
.p38 { background-color: #ff9f00; }
.p39 { background-color: #ff9d00; }
.p40 { background-color: #ff9a00; }
.p41 { background-color: #ff9700; }
.p42 { background-color: #ff9500; }
.p43 { background-color: #ff9200; }
.p44 { background-color: #ff9000; }
.p45 { background-color: #ff8d00; }
.p46 { background-color: #ff8b00; }
.p47 { background-color: #ff8800; }
.p48 { background-color: #ff8500; }
.p49 { background-color: #ff8300; }
.p50 { background-color: #ff8000; }
.p51 { background-color: #ff7e00; }
.p52 { background-color: #ff7b00; }
.p53 { background-color: #ff7900; }
.p54 { background-color: #ff7600; }
.p55 { background-color: #ff7300; }
.p56 { background-color: #ff7100; }
.p57 { background-color: #ff6e00; }
.p58 { background-color: #ff6c00; }
.p59 { background-color: #ff6900; }
.p60 { background-color: #ff6700; }
.p61 { background-color: #ff6400; }
.p62 { background-color: #ff6100; }
.p63 { background-color: #ff5f00; }
.p64 { background-color: #ff5c00; }
.p65 { background-color: #ff5a00; }
.p66 { background-color: #ff5700; }
.p67 { background-color: #ff5500; }
.p68 { background-color: #ff5200; }
.p69 { background-color: #ff4f00; }
.p70 { background-color: #ff4d00; }
.p71 { background-color: #ff4a00; }
.p72 { background-color: #ff4800; }
.p73 { background-color: #ff4500; }
.p74 { background-color: #ff4200; }
.p75 { background-color: #ff4000; }
.p76 { background-color: #ff3d00; }
.p77 { background-color: #ff3b00; }
.p78 { background-color: #ff3800; }
.p79 { background-color: #ff3600; }
.p80 { background-color: #ff3300; }
.p81 { background-color: #ff3000; }
.p82 { background-color: #ff2e00; }
.p83 { background-color: #ff2b00; }
.p84 { background-color: #ff2900; }
.p85 { background-color: #ff2600; }
.p86 { background-color: #ff2400; }
.p87 { background-color: #ff2100; }
.p88 { background-color: #ff1e00; }
.p89 { background-color: #ff1c00; }
.p90 { background-color: #ff1900; }
.p91 { background-color: #ff1700; }
.p92 { background-color: #ff1400; }
.p93 { background-color: #ff1200; }
.p94 { background-color: #ff0f00; }
.p95 { background-color: #ff0c00; }
.p96 { background-color: #ff0a00; }
.p97 { background-color: #ff0700; }
.p98 { background-color: #ff0500; }
.p99 { background-color: #ff0200; }

.p100 { background-color: #ff0000; }
